<a href="https://colab.research.google.com/github/FathimaNazarudeen/Advanced-Computing-Lab/blob/main/Experiment%203/naivebayes2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_csv ("/content/HepatitisCdata.csv")
x=data[["Age","Sex","ALB","ALP","ALT","AST","BIL","CHE","CHOL","CREA","GGT","PROT"]]
y=data["Category"]

In [2]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x["Sex"]=le.fit_transform(x["Sex"])
x=x.fillna(0)
x

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...
610,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,64,0,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,64,0,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,46,0,33.0,0.0,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,59,0,36.0,0.0,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5,random_state=0)

In [4]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB

In [5]:
gnb=GaussianNB()
clf = BernoulliNB(binarize=2)
clf1 = MultinomialNB()

In [6]:
model=gnb.fit(x_train,y_train)
model1=clf.fit(x_train,y_train)
model2=clf1.fit(x_train,y_train)

In [7]:
res1=model.predict(x_test)
res2=model1.predict(x_test)
res3=model2.predict(x_test)

In [8]:
from sklearn.metrics import accuracy_score

In [10]:
accuracy_1=accuracy_score(y_test,res1)
print("Gaussian :",accuracy_1*100)
accuracy_2=accuracy_score(y_test,res2)
print("Bernoulli : ",accuracy_2*100)
accuracy_3=accuracy_score(y_test,res3)
print("Multinomial : ",accuracy_3*100)

Gaussian : 88.96103896103897
Bernoulli :  88.31168831168831
Multinomial :  88.63636363636364